.markdown {
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  line-height: unset;
  max-width: 100%;
  border: 0px;
  margin: 0px;
  font-size: 14px;

  & code {
    white-space: pre-wrap;
  }
}

.markdown p {
  margin: 0px;
}
